.containerFooter{
    position: relative;
    width: 100%;
    top: 77vh;
    height: 30%;
}





/* .body{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#b3368d,pink);
} */